<header class="site-header" id="siteHeader">
    <div class="header-container">
        <div class="logo">ADNSBERT</div>

        <nav class="nav">
            <a href="index.html">INICIO</a>
            <a href="empresa.html">EMPRESA</a>
            <a href="servicios.html">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
            <a href="cod_etico.html">CÓDIGO ÉTICO</a>
            <a href="canal_denuncias.html">CANAL DENUNCIAS</a>
            <a href="trabaja_con_nosotros.html">TRABAJA CON NOSOTROS</a>
        </nav>
    </div>
</header>
